// 索引颜色
.van-index-bar__index {
    color: rgb(20, 143, 143);
    margin-bottom: 2px;

}

.red {
    color: red;

    span {
        color: black;
    }
}

.van-index-bar__sidebar {
    top: 55% !important;
}

// 轮播图按钮颜色
.my-swipe {
    .van-swipe__indicator {
        background-color: #000;
    }
}

// 详情页标签
.van-tabs__wrap {
    .van-tabs__nav {
        background-color: #f5f5f5;
    }
}

// 分类页
.class-tabs {
    .van-tabs__nav {
        padding-left: 0;
        padding-bottom: 0;
        position: fixed;
        left: auto;
        width: 80%;
        z-index: 2;
        top: 40px;
        height: 17.333vw
    }

    .van-tabs__nav {
        height: 16.333vw;
    }

    .van-tabs__content {
        .van-card__title {
            width: 150px;
        }

        padding: 5px;
        padding-top: 4vw;
        background-color: #fff;
        padding-bottom: 50px;

        .van-card {
            background-color: #fff;
        }
    }
}

// 购物车页面
.van-checkbox__label {
    width: 100%;

    .van-card {
        width: 100%;
    }
}

.goods {


    .van-checkbox__label {
        display: flex;
    }
}

// 评价中心
.comment {
    .van-tabs__wrap {
        width: 95%;
        margin: auto;
        // margin-top: -20px;
        box-shadow: 0 0 5px gray;
        border-radius: 10px;
        background-color: #fff;
    }


}

// 我的
.box {
    .van-tabbar {
        border: none;
    }
}